<br>
<br>
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">MPPKVVCL HTBilling</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0);" ng-click="viewMeterReadingsCtrl.loadDeveloperHome()">Developer Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span>  {{user.name}}<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ng-click="viewMeterReadingsCtrl.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header text-center container">
        <h2><span class="glyphicon glyphicon-certificate"></span>Generated Bill</h2>
        <br>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody class="text-center">
                            <tr>
                                <td colspan="4"><b><p>VAIBHAV LAXMI CLEAN ENERGY LLP</p><p>302, Sai Amrit Apartment,14, Rajaswgram, Chhatribagh, Indore (M.P)</p><p>379, VARDHMAN GRAND PLAZA, PLOT NO.7, MANGALAM PLACE, SECTOR-3, ROHINI, DELHI-110085.</p></b></td>
                            </tr>
                            <tr>
                                <td colspan="4"> <b>To,  <br><p>The Superintending Engineer (O&M), M.P.P.K.V.V.Co.Ltd</p></b></td>
                            </tr>
                            <tr>
                                <td>METER NO</td>
                                <td><b>123456</b></td>
                                <td>MONTH</td>
                                <td><b>13-04-2016</b></td>
                            </tr>
                            <tr>
                                <td>Invoice No</td>
                                <td><b>invoive/ABC/04/2016</b></td>
                                <td>Ref.</td>
                                <td><b>94216</b></td>
                            </tr>
                            <tr>
                                <td>Letter No</td>
                                <td><b>05-01/1425 from O/o CGM (Comml.) M.P. Tradeco, Jabalpur.</b>
                                </td>
                                <td>TIN/VAT No</td>
                                <td><b>23239010011</b></td>
                            </tr>
                            <tr>
                                <td>Investor Name`</td>
                                <td><b>M/S VAIBHAV LAXMI CLEAN ENERGY</b></td>
                                <td>Date of commission</td>
                                <td><b>01-01-2016</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Billing Details</h3>
                    <table class="table table-condensed table-bordered">
                        <tbody class="text-center">
                            <tr>
                                <td><strong>S.No</strong></td>
                                <td><strong>Particulars</strong></td>
                                <td><strong>Units</strong></td>
                                <td><strong>Rate Per Unit</strong></td>
                                <td><strong>Amount</strong></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Sale of Power (KWH Export)</td>
                                <td>1000</td>
                                <td>5.7</td>
                                <td>5700</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>RKVH Charges</td>
                                <td>100</td>
                                <td>0.9</td>
                                <td>90.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="3">Total Amount</td>
                                <td>5610.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="3">Total Amount Rounded off</td>
                                <td>5610.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Singature and the seal of Investor</strong></td>
                                <td colspan="3">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Note:</strong></td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <br>
    <hr>
</div>